/* ===========================
Google Font....
=========================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid black;
  background-color: white; */
  background-color: rgb(248, 244, 244);
  
}
/* ==================================
Navigation part...
================================== */
.nav-container{
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  margin-bottom: 30px;
}
.nav-heading{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.nav-headline h1{
  color: white;
}
.nav-information p{
  color: white;
}
.nav-anchor{
  border-radius: 5px;
  padding:15px 25px;
  background-color: orangered;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nav-anchor a{
text-decoration: none;
color: white;
}
.nav-img{
  display: flex;
  align-items: center;
}
.nav-img img{
 width: 100%;
}

/* ==============================
    Middle part....
============================== */
/* .container{
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: rgb(90, 71, 48);
} */
.news{
  display: grid;
  grid-template-columns: 300px repeat(1,1fr);
  gap: 25px;
}
.nav-info{
  height: 150px;
  border-radius: 5px;
  background-color: black;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nav-info a{
  width: 100%;
  /*width: 300px;
  margin: 5px;
  *//*display: flex;
  align-items: center;
  */margin-top: 15px;
  background-color: aliceblue;
  padding: 15px 10px;
  color: rgb(27, 21, 21);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* .match-info{
  border: solid;
} */
/* ==============
Transfer news...
================== */
.players-transfer{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 25px;

}
.player{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(158, 145, 145);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.player-image{
  display: flex;
  align-items: center;
  
}
  .player-image img{
  width: 100%;
} 
.transfer-btn{
  width: 50%;
  border-radius: 5px;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.transfer-btn a{
 
  padding: 5px;
  text-decoration: none;
  color: rgb(20, 1, 1);
  
}



/* .transfer-heading{

} */
.time-coment{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coment,.time{
  color: rgb(25, 3, 3);
}



/* 
=================================
Tablet button here...
================================= */
.tab-btn{
margin-top: 25px ;
display: flex;
justify-content: center;
align-items: center;
}

.view-all{
  border-radius: 5px;
  padding:20px 40px;
  background-color: orangered;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.view-all a{
  
  color: white;
  text-decoration: none;
  
}
 /* =======================================
Footer part here
=======================================  */
.footer-part{
  padding: 40px;
  margin-top: 80px;
  background-color: black;
display: grid;
grid-template-columns: repeat(1,1fr);
justify-items: center;
}
.footer-title h2{
  color: white;
}
.service-info{
display: flex;
justify-content: space-between;
/* flex-flow: row wrap; */
}
.service-info a{
  padding: 5px 20px;
  color: white;
text-decoration: none;
}
hr{
  color: white;
  width: 70%;
}
.social{
  justify-content: space-between;
display: flex;
}
.social a{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
}




/*========================================================

Media quary start here...
======================================================== */
@media screen and (max-width:576px) {
  .nav-container{
   
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    
  }
  .nav-info{
    
    background-color: white;
  }
  .news{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .players-transfer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
}
.tab-btn{
  display: none;
}
.service-info{
  flex-direction: column;
  }
  .service-info a{
    text-align: center;
  margin-bottom: 2px;
  }
  
}
/* =====================================
Tab Media Quary
===================================== */
@media screen and (min-width:577px) and (max-width:768px) {
  .news{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .nav-info{
    
    background-color: white;
    flex-direction: row;
  }
  .nav-info a{

margin-right: 10px;
  }
  .players-transfer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.service-info{
  justify-content: center;
  flex-flow: row wrap;
  }
  
}
/* =====================================
Bigscreen Media Quary...
===================================== */
@media screen and (min-width:767px){
  .tab-btn{
    display: none;
  }
  
}